<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" color="success"></ion-menu-button>
    </ion-buttons>
    <ion-title color="success">Tvan Clean</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/011/490/381/small_2x/happy-smiling-young-man-avatar-3d-portrait-of-a-man-cartoon-character-people-illustration-isolated-on-white-background-vector.jpg"/>
    </ion-avatar>
    <ion-label>
      <h1>Damarazka Akhyari</h1>
      <p>Mengumpulkan: <span class="money">299.000</span></p>
    </ion-label>
  </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pemanggilan Pengambilan Terakhir</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          Tertahan
          <p>22/06/2024 00:00:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <div class="costom-item-content">
        <p>Dibuat pada 21/06/2024 00:00:00</p>
        <p>Catatan : Kami punya dua kantong sampah</p>
        </div>
      </ion-item>
      <ion-button color="success" fill="clear" size="full">Lihat Lainnya</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
